* {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(39, 35, 35);
}

body {
  background-color: rgb(249, 236, 213);
  margin: 20px 30px;
}

hr {
  margin-top: 20px;
  border: 1px solid pink;
}

h1 {
  background-color: pink;
  padding: 30px;
  margin: 0 auto;
  border-radius: 2px;
}

button {
  padding: 10px 20px;
  background-color: pink;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-input {
  font-size: 16px;
  display: block;
  padding: 5px 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  border: 2px solid pink;
  /* margin: 0 auto; */
}
