body {
  background-color: #fff2e5;
  color: #333333;
  font-family: "Fredoka", sans-serif;
}

.logo {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 0;
}

.main-container {
  border: 1px solid black;
  border-radius: 15px;
  background-color: #75d0e1;
  max-width: 50%;
  margin: 20px auto;
  margin-top: 0;
  padding: 30px 50px 50px 50px;
  box-shadow: 0 30px 50px rgba(69, 66, 71, 0.05);
}

.full-search-container {
  background-color: #75d0e1;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  justify-content: space-between;
  height: auto;
}

.search-bar {
  border: 1px solid black;
  background-color: #ffffef;
  border: none;
  border-radius: 30px 5px 5px 30px;
  width: 100%;
  height: 47px;
  font-size: 16px;
  padding: 10px;
  margin-right: 0;
}

.search-icon {
  border: 1px solid #b4d874;
  border-left: 1px solid #fff2e5;
  background-color: #b4d874;
  border-radius: 3px 25px 25px 3px;
  padding: 5px 10px 5px 5px;
  width: 35px;
  height: auto;
  margin-bottom: 0;
  margin-left: -20px;
  vertical-align: bottom;
}

.search-container {
  border: 1px solid black;
  background-color: #ffffef;
  width: 45%;
  margin-bottom: 0;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-result {
  border: 1px solid black;
}

.city {
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 0;
}

.date {
  text-align: center;
  line-height: 10px;
  margin-top: 20;
}

.secondary-weather-container {
  border: 1px solid black;
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.secondary-weather {
  border: 1px solid black;
  width: auto; /* Set the desired width for the image */
  height: 100px;
  vertical-align: bottom;
  margin-bottom: 0;
}

.secondary-weather-icon {
  border: 1px solid black;
  width: 100px; /* Set the desired width for the image */
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.humidity-wind {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-weather-icon-container {
  margin-right: 10px;
}

.main-weather-icon {
  border: 1px solid black;
  width: 300px; /* Set the desired width for the image */
  height: auto;
}

.search-temperature {
  border: 1px solid black;
  background-color: #ffffef;
  display: flex; /* Use flexbox to create a flexible container */
  align-items: center;
  text-align: center;
  width: 50%;
}

.temperature-info {
  display: flex;
  flex-direction: column;
}

footer {
  border-top: 1px solid #ffffef;
  background-color: #ffffef;
  border-radius: 0px 0px 20px 20px;
  margin: 0;
  padding: 10px 20px 10px;
  font-size: 12px;
  color: rgba(69, 66, 71, 0.6);
}

a {
  text-decoration: none;
  color: #1ea6c6;
  font-weight: bold;
  opacity: 0.6;
}

button {
  background-color: #b4d874; /* Set the background color */
  background-image: url("/assets/info.PNG"); /* Set the image as the background */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: 1px solid #b4d874;
  border-radius: 2px;
  padding: 10px;
  cursor: pointer;
  margin-left: 10px;
  vertical-align: bottom;
}
